:root {
  --bg-primary: #343434;
  --card-primary: #000000;
  --btn-highlight: #2bd576;
  --btn-primary: #3a3942;
  --btn-secondary: #1c1b23;
  --text-primary: #8b8a91;
  --text-secondary: #79787f;
  --text-info: #4f4f52;
  --text-highlight: #fff;
  --text-green: rgb(50, 230, 50);
  --white-color: #fff;
}

body {
  background: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white-color);
}

.App-link {
  color: #000000;
}

.border {
  border-width: 1px;
}

.custom-border {
  border-color: var(--text-green);
}


.blackText {
  color: white;
}

.noUnderline {
  text-decoration: none;
  margin: '0 10px';
  color: white;
}

.font {
  font-family: cursive;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.title {
  color: #ffffff;
}

/* Style the hero section */
.hero {
  background-color: var(--white-color);
  color: #333;
  /* Set the text color */
}


/* Style the subtitle */
.subtitle {
  font-size: 1rem;
  /* Adjust the font size as needed */
  margin-bottom: 20px;
  /* Add more space below the subtitle */
  font-weight: lighter;
}

/* Style the avatar image */
.avatar {
  max-width: 140px;
  /* Set the maximum width of the avatar image */
  display: block;
  /* Ensure the image is centered horizontally */
  margin: 0 auto;
  /* Center the image horizontally within its container */
}

/* Style the bottom image */
.is-bottom {
  max-width: 100%;
  /* Ensure the image takes the full width of its container */
  display: block;
  /* Center the image horizontally */
  margin: 0 auto;
  /* Center the image horizontally within its container */
}

@font-face {
  font-family: 'Micro Square';
  src: url('fonts/microsquare_regular-webfont.woff') format('woff'),
    /* Add all supported font formats */
    url('fonts/microsquare_regular-webfont.woff2') format('woff2');
  /* Add other font properties such as font-weight and font-style if needed */
  font-weight: normal;
  font-style: normal;
}

.titleName {
  font-family: 'Micro Square', sans-serif;

  .title {
    color: #939496;
  }
}

.titlesize {
  font-size: 2.5rem;
  /* Adjust the font size as needed */
  font-weight: bold;
  margin-bottom: 10px;
}


.font-medium {
  font-weight: 500;
}

@media (min-width: 1024px) {
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.gap-5 {
  gap: 1.25rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid {
  display: grid;
}

.shadow-lg,
.shadow-md {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
}

.p-4 {
  padding: 1rem;
}

.bg-cardPrimary {
  background-color: var(--card-primary);
}

.rounded-md {
  border-radius: 0.375rem;
}

.gap-4 {
  gap: 1rem;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex {
  display: flex;
}

.text-primary {
  color: var(--text-primary);
}

.tracking-wider {
  letter-spacing: .05em;
}

.font-medium {
  font-weight: 500;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.gap-2 {
  gap: 0.5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-primary {
  color: var(--text-primary);
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.p-2 {
  padding: 0.5rem;
}

.bg-body {
  background-color: var(--bg-primary);
  border-color: var(--text-green);
}

/* Game board container */
.game-board {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

/* Path styles */
.path {
  width: 200%;
  /* Make it wide enough to simulate an infinite path */
  height: 100%;
  display: flex;
  /* Add styles for different sections (houses, restaurants, gardens, etc.) */
}

/* Character or vehicle styles */
.character {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  /* You can use an image or SVG instead */
}

/* Control button styles */
.controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button {
  font-size: 16px;
  margin: 0 10px;
  padding: 10px 20px;
}

.container {
  position: relative;
  width: 50%;
}


.overlay {
  position: absolute;
  bottom: 100%;
  left: -30%;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: var(--white-color);
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.right {
  position: relative;
  right: -40%;
  bottom: -30%;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #ffffff;

  overflow: hidden;

  position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 26px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 20px;
  color: #000000;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.home-hero {
  color: #fff;
  background: linear-gradient(to right, rgba(245, 245, 245, .8), rgba(245, 245, 245, .8)), url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
  background-position: center;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
}

.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  padding: 20px;
}

.about__content-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: var(--white-color);
}

.about__content-details-para {
  font-size: 1rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills__skill {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  background: rgba(153, 153, 153, .2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}

.btn--theme {
  background: #7843e9;
  color: #fff;
}

.btn--med {
  padding: 0.8rem 2rem;
  font-size: 0.8rem;
}

.btn {
  background: #7843e9;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
  transition: transform .3s;
}

a {
  text-decoration: none;
  color: inherit;
}

.home-hero__socials {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  box-shadow: rgba(100, 100, 111, .2) 0 7px 29px 0;
  padding: 0.5rem;
}

.home-hero__social-icon-link {
  width: 36%;
  display: block;
  padding: 0.5rem;
  transition: background .3s;
  border-radius: 5px;
  position: relative;
  top: -132px;
  filter: invert(100%);
}

.home-hero__social {
  width: 5rem;
}

.menudesign {
  max-width: 100%;
  background-color: #222;
  border-radius: 100vw;
  padding: 2px;
  font-size: .9rem;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, .16);
}

.menu_link {
  z-index: 2;
  color: #fff;
  padding: 12px 20px;
  position: relative;
  text-decoration: none;
}

.menu_link:hover {
  color: lightgrey;
}

.menu {
  mix-blend-mode: normal;
  position: relative;
}

.menu_shape {
  z-index: 1;
  width: 7em;
  opacity: 0;
  justify-content: flex-start;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
  transform: translate(0);
}

.menu_shape-bg {
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 100vw;
  flex: none;
  position: relative;
}